aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
attrs
Babel
blinker
certifi
cffi
chardet
configobj
cryptography
discord.py
distro
dotenv
MarkupSafe
propcache
psutil
PyNaCl
pyparsing
pyrsistent
python-dotenv
pytz
requests
rfc3987
six
typing_extensions
uritemplate
urllib3
wadllib
webcolors
yarl
yt-dlp